{% extends "layout.html" %}

{% block body %}

<h3>Dear Stranger,</h3>
<p>Your <em>new project</em> is about to take off!</p>

<p>Check out <a href="https://github.com/jozan/new-static-site/blob/master/README.md">README</a> for more information.</p>
<p>Source can be found on <a href="https://github.com/jozan/new-static-site/">Github</a>. If you have questions send me an email <a href="mailto:johan@latehours.net">johan@latehours.net</a>.</p>

<p><em>Sincerely Yours<br>Johan</em></p>

<p class="ps">PS. You are super awesome!</p>

{% endblock %}